extends layout

block content
  h1= title
  p Welcome to Festify v0.5
  p This project was created by Alex Boyd
  p Please report any issues to the Github Issues Tab, 
    a(href="https://github.com/malexanderboyd/Festify/") Github

  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(onclick='window.location.href="/login"') Login
