extends layout

block content
  h1= title
  p Welcome to Festify v1
  p This project was created by Alex Boyd
  p Please report any issues to the Github Issues Tab, 
    a(href="https://github.com/malexanderboyd/Festify/") Github
  p Look for the new Festify android app soon!