doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.light_green-amber.min.css')
  body
    block content
