extends layout

block content
  h1= title
  h2 Your Spotify Playlist is being generated! Please allow 2-5 minutes for generation, and then check your spotify for 'Festify Playlist'. Enjoy!
  p This page will be replaced in the official version with a minigame of somekind to waste time during generation.
  p Please report all bugs on github, 
   a(href="https://github.com/malexanderboyd/Festify/issues") Github
